body {
    background-color: white;
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
}

.firstp {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 4px;
}

.secondp {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    
}

.lastp {
    font-family: 'Fraunces', serif;
    font-size: 1.3rem;
    font-weight: bold;
    color:hsl(158, 36%, 37%);
}

.suptag {
    font-size: small;
    font-weight: normal;
    margin-left: 15px;
    text-decoration: line-through;
}

img {
    width: 227px;
    position: absolute;
    margin-left: 400px;
    margin-top: 70px;
}

.outer-container {
    background-color: hsl(30, 38%, 92%);
    margin: 70px 20px 20px 20px;
    padding-bottom: 500px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner-container {
    background-color: white;
    width: 190px;
    position: absolute;
    margin-left: 610px;
    padding: 20px;
    margin-top: 70px;
}

.btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
    background: hsl(158, 36%, 37%);
    padding: 10px 40px 10px 40px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #453f45;
    text-decoration: none;
  }

  @media (max-width: 900px) {
    h2 {
        font-size: 2.5rem;
        margin-top: 0;
    }

    .secondp {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        margin-bottom: 50px;
    }

    .lastp {
        font-family: 'Fraunces', serif;
        font-size: 2rem;
        font-weight: bold;
        color:hsl(158, 36%, 37%);
    }
    
    .outer-container {
        background-color: hsl(30, 38%, 92%);
        margin: 0;
        box-shadow: none;
        padding-bottom: 0;
    }

    img {
        width:80%;
        height: 500px;
        position: absolute;
        margin-left: 20px;
        border-radius: 10px;
        margin-top: 0px;
    }

    .inner-container {
        background-color: white;
        width: 75%;
        height: 400px;
        position: absolute;
        margin-left: 20px;
        padding: 20px 20px 50px 20px;
        margin-top:400px;
        margin-bottom: 50px;
    }

    .btn {
        -webkit-border-radius: 11;
        -moz-border-radius: 11;
        border-radius: 5px;
        font-family: Arial;
        color: #ffffff;
        font-size: 15px;
        margin-left:8px;
        font-weight: bold;
        background: hsl(158, 36%, 37%);
        padding: 10px 120px 10px 100px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #453f45;
        text-decoration: none;
      }
    
  }
